@-moz-document domain("bilibili.com") {
    :root {
        /*[[BLUE_LOGO]]*/
        /*     	--logoimg: url(https://i.loli.net/2019/05/11/5cd6a4d7196cf.png); */
        --bgimg: url(/*[[DIV_BG]]*/);
        --bgcolor: rgb(239, 239, 244);
        --con-primary: rgba(255, 255, 255, 1);
        --fill-primary: rgba(120, 120, 128, .22);
    
        --blue: #00a1d6;
    
        --depth-1: 0 4px 12px rgba(0, 0, 0, .03), 0 1px 4px rgba(0, 0, 0, .009);
        --depth-2: 0 8px 18px rgba(0, 0, 0, .08), 0 3px 8px rgba(0, 0, 0, .025);
    }
    
    @supports (backdrop-filter: blur(20px)) {
        :root {
            --filter-glass: blur(20px) saturate(180%);
            --con-primary: rgba(255, 255, 255, .75);
        }
    }
    }
    
    @-moz-document domain("bilibili.com") {
    /*暗色模式css变量*/
    /*[[DARK_MODE]]*/
    }
    
    @-moz-document regexp("^https?://www\\.bilibili\\.com/?((index\\.html)|(\\?.*))?") {
    /*
    **去除首页碍眼东西，与处理删除碍眼东西后的一些处理
    */
    /*删除其它内容，只保留搜索栏，不能下滑显示更多，显示半屏壁纸*/
    /*[[HOME_STYLE]]*/
    /*处理顶栏链接内容，使其在自定义背景下banner上方文字链接有阴影使其能看清文字*/
    /*[[TOPLINK_THEME]]*/
    .bili-banner .taper-line {
        /*原本去除难看的过渡色效果*/
        background: none!important;
    }
    
    /*banner上方的链接*/
    .nav-link .nav-link-ul .nav-link-item .link,
    .nav-user-center .user-con .item .name {
        text-shadow: 0 2px 10px rgba(0, 0, 0, .55);
    }
    
    
    /*删除banner上方我认为无用的链接（ε=ε=ε=┏(゜ロ゜;)┛逃）*/
    .nav-link .nav-link-ul .nav-link-item .link,
    /*季节logo*/
    .bili-banner .b-logo .logo-img,
    /*顶栏banner链接*/
    .bili-banner .head-title,
    .bili-banner .banner-link {
        display: none;
    }
    
    /*删除左侧小电视*/
    .mascot,
    /*左侧联系客服*/
    .contact-help,
    /*广告*/
    .banner-card {
        display: none;
    }
    }
    
    @-moz-document regexp("^https?://www\\.bilibili\\.com/?((index\\.html)|(\\?.*))?") {
    /*banner图片*/
    .bili-banner[data-v-5ff46558] {
        position: relative;
        height: 100vh;
        background: var(--bgimg) no-repeat center fixed!important;
        background-color: var(--bgcolor)!important;
        background-size: cover!important;
    }
    
    /*顶栏弹窗颜色*/
    /* .van-popover,
        .i-frame iframe[data-v-1f9a8793]{
            background-color: var(--con-primary);
            backdrop-filter: var(--filter-glass);
        } */
    /*滑过的列表链接*/
    .links .link-item[data-v-be7d8ba6]:hover,
    .lang-change .lang-item:hover,
    .tab-item--normal[data-v-1ea1793c]:hover,
    .video-card[data-v-7e985ebc]:hover,
    .upload-item[data-v-52f814c6]:hover {
        background-color: var(--fill-primary);
    }
    
    /*投稿颜色更换*/
    .mini-upload {
        background-color: var(--blue)!important;
    }
    
    /*删除顶部右侧大会员标志和链接*/
    .nav-user-center .user-con .item:nth-child(2) {
        display: none;
    }
    
    
    .bili-banner .b-logo .head-logo[data-v-7afa2fce] {
        display: none;
    }
    
    .bili-banner .b-logo .logo-img[data-v-7afa2fce] {
        display: none;
    }
    
    /*搜索框容器*/
    .international-header .nav-search-box {
        /*强制显示搜索栏*/
        display: block!important;
        position: absolute;
        top: 35vh;
        left: calc(50vw - 310px);
        width: 600px;
    }
    
    /*强行制作出搜索栏上的logo*/
    .international-header .nav-search-box:after {
        content: '';
        position: absolute;
        top: -300%;
        left: calc(50% - 100px);
        background: var(--logoimg, url(https://i.loli.net/2019/06/11/5cff54794e40241270.png)) no-repeat!important;
        background-size: 200px!important;
        width: 210px;
        height: 100px;
        filter: drop-shadow(0 4px 6px rgba(0, 0, 0, .08));
    }
    
    /*浏览器分辨率不够时强制显示出搜索栏*/
    @media screen and (max-width: 1110px) {
        /*调整搜索框与logo位置使其在分辨率小的页面看起来自然*/
        .international-header .nav-search-box {
            top: 40vh;
        }
    
        /*对logo大小重新调整*/
        .international-header .nav-search-box:before {
            background-size: 180px!important;
            top: -240%;
            height: 100px;
        }
    }
    
    /*搜索框*/
    .international-header .nav-search #nav_searchform {
        background-color: var(--con-primary)!important;
        box-shadow: var(--depth-1)!important;
        padding: 8px 42px 8px 20px;
        border-radius: 10px;
        transition: box-shadow .25s;
        backdrop-filter: var(--filter-glass);
    }
    
    .international-header .nav-search .nav-search-keyword{
        color:var(--text-primary)!important;
    }
    
    /*搜索图标*/
    .bili-icon_dingdao_sousuo::before{
        color:var(--text-primary);
        transition:.25s;
    }
    
    .international-header .nav-search .nav-search-btn:hover .bili-icon_dingdao_sousuo::before{
        color:var(--blue)!important;
    }
    
    /*搜索历史、建议文字*/
    .bilibili-search-suggest .suggest-item a,
    .bilibili-search-history .history-item a{
        color: var(--text-primary)!important;
    }
    
    /*搜索建议高亮文字*/
    .bilibili-search-suggest .suggest-item .suggest_high_light{
        color:var(--blue);
    }
    
    .international-header .nav-search #nav_searchform:focus-within {
        box-shadow: var(--depth-2)!important;
    }
    
    .international-header .nav-search .nav-search-keyword::placeholder {
        color: transparent!important;
    }
    
    .international-header .nav-search .nav-search-keyword {
        font-size: 16px;
        color: black;
    }
    
    /*搜索图标*/
    .bili-header-m .nav-search .nav-search-submit,
    .international-header .nav-search .nav-search-submit {
        top: 16px;
    }
    
    .bili-header-m .nav-search .nav-search-btn,
    .international-header .nav-search .nav-search-btn {
        background-color: transparent;
    }
    
    /*搜索建议项容器*/
    .bilibili-search-suggest,
    /*历史搜索项容器*/
    .bilibili-search-history {
        border-radius: 10px;
        background-color: var(--con-primary)!important;
        backdrop-filter: var(--filter-glass);
        box-shadow: var(--depth-2);
        border: none;
    }
    
    /*鼠标滑过搜索建议、历史项时改变颜色*/
    .bilibili-search-suggest .suggest-item.focus,
    .bilibili-search-suggest .suggest-item:hover,
    .bilibili-search-history .history-item.focus,
    .bilibili-search-history .history-item:hover {
        background-color: var(--fill-primary);
    }
    }