/*
**搜索条聚焦后暗化效果
*/
.international-header .mini-header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: .25s ease-in-out;
    visibility: hidden;
	z-index: -1
}

.international-header .mini-header:focus-within::before {
    background-color: rgba(0, 0, 0, .5);
    visibility: visible;
}
/*[[FOCUS_BLUR]]*/