/*
**搜索条聚焦后暗化效果
*/
.international-header .nav-search::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.25s ease-in-out;
  visibility: hidden;
  z-index: -1;
}

.international-header .nav-search:focus-within::before {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  /*[[FOCUS_BLUR]]*/
}

/*取消焦点时搜索记录隐藏*/
.international-header .nav-search .bilibili-search-suggest,
.international-header .nav-search .bilibili-search-history{
    display: none;
}

.international-header .nav-search .bilibili-search-suggest:active,
.international-header .nav-search .bilibili-search-history:active,
.international-header .nav-search:focus-within .bilibili-search-suggest,
.international-header .nav-search:focus-within .bilibili-search-history{
    display: block;
}