/*
**全屏显示壁纸，不能下滑查看更多视频
*/
.bili-banner {
    height: 100vh!important;
}
.b-wrap,
.international-footer {
	display: none;
}

/**********************************************************************************/

/*
**全屏显示壁纸
*/
.bili-banner {
    height: 100vh!important;
}

/**********************************************************************************/

/*
**【样式1】半屏显示壁纸
*/
.bili-banner {
    height: calc(100vh - 363px)!important;
    min-height: 450px!important;
    z-index: -1!important;
}

.primary-menu-itnl {
    margin-top: -50px!important;
    background-color: var(--con-primary)!important;
    backdrop-filter: var(--filter-glass);
}

/*搜索框容器*/
.international-header .nav-search-box {
    top: 30vh!important;
}

@media screen and (max-height: 830px) {
    .international-header .nav-search-box {
        top: 220px!important;
    }
}

/*强行制作出搜索栏上的logo*/
.international-header .nav-search-box:before {
    top: -300%;
}

/**********************************************************************************/

/*
**【样式2】半屏显示壁纸
*/
.bili-banner {
	height: 40vh!important;
	z-index: -1!important;
}

.primary-menu-itnl {
	margin-top: -50px!important;
	background-color: var(--con-primary)!important;
	backdrop-filter: var(--filter-glass);
}

/*搜索框容器*/
.international-header .nav-search-box {
	top: 15vh!important;
}

/*强行制作出搜索栏上的logo*/
.international-header .nav-search-box:after {
	top: -50%!important;
	left: -200px!important;
	transform: scale(.6);
}